.project_wrapper {
  padding: 20px;

  .project_title {
    width: 1100px;
    margin: 0 auto;
    text-align: center;
    border-bottom: 1px solid #d8d8d8;
    color: #4f4f4f;

    h2 {
      width: 100%;
    }
  }

  .project_content {
    border: 1px solid #d8d8d8;
    border-radius: 25px;
    width: 1080px;
    margin: 20px auto;

    .content_upper {
      padding: 15px;

      span {
        margin: 0 8px 0 8px;
        vertical-align: middle;
        font-size: 0.9rem;
        font-weight: bold;
        color: #4f4f4f;
      }
    }

    .content {
      border: 1px solid #e7e7e7;
      margin: 0 15px 25px 15px;
    }

    .content_bottom {
      text-align: center;
      margin: 20px;

      svg,
      span {
        margin: 5px;
      }

      .icon-comment {
        width: 1.5em;
        height: 1.5em;
        color: #4f4f4f;
        vertical-align: middle;
      }

      .icon-like {
        width: 1.5em;
        height: 1.5em;
        color: #4f4f4f;
        vertical-align: middle;
      }
    }
  }

  .comment_field {
    border: 1px solid #d8d8d8;
    border-radius: 25px;
    width: 1080px;
    margin: 20px auto;
    overflow: auto;
    text-align: center;

    .comment_upper {
      padding: 15px;
      span {
        margin: 0 8px 0 8px;
        vertical-align: middle;
        font-size: 0.9rem;
        font-weight: bold;
        color: #4f4f4f;
      }
    }

    textarea {
      margin: 15px;
      width: 63.4rem;
      padding: 14px;
      overflow: auto;
      resize: none;
      border-color: #e7e7e7;
    }

    .submit_comment {
      background-color: #4f4f4f;
      border: 0;
      width: 60px;
      padding: 10px;
      color: white;
      float: right;
      margin: 0 17px 17px 17px;
    }
  }

  .comment_list {
    width: 1070px;
    margin: auto;
    padding: 20px;

    .comment {
      margin-bottom: 2rem;
      span:nth-child(1) {
        font-weight: bold;
        margin-right: 8px;
      }
      span:nth-child(2) {
        color: #727171;
        font-size: 13px;
        font-style: italic;
      }
    }
  }
}

.process_bar {
  height: 110px;
  margin-top: 20px;
  padding: 20px;
}

.process_bar {
  .process_elem {
    display: inline-block;
    text-align: center;
    width: 100px;
    padding: 5px;
    margin: 10px;
    border: 1px solid rgba(241, 241, 241, 0.77);
    border-radius: 5px;
    -webkit-box-shadow: 5px 8px 6px -1px rgba(209, 209, 209, 0.77);
    -moz-box-shadow: 5px 8px 6px -1px rgba(209, 209, 209, 0.77);
    box-shadow: 5px 8px 6px -1px rgba(209, 209, 209, 0.77);
    color: #4f4f4f;
    &.active {
      background-color: #6bcdff;
      color: white;
    }
  }

  .triangle svg {
    vertical-align: text-bottom;
  }
}

.icon-spin {
  -webkit-animation: icon-spin 2s infinite linear;
  animation: icon-spin 2s infinite linear;
}

@-webkit-keyframes icon-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

@keyframes icon-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
