.review_wrapper {
  .review_wrapper_header {
    display: flex;
    justify-content: center;
    text-align: center;
    height: 230px;
    padding: 20px;
    flex-direction: column;

    h1 {
      margin: 0 auto;
      padding: 10px;
      color: white;
      background-color: #172945;
      border-radius: 40px;
      width: 100px;
      height: 35px;
      font-size: 25px;
      font-weight: bold;
      text-align: center;
      display: inline-block;
    }

    p {
      font-weight: bold;
      font-size: 17px;
      padding: 15px;
      color: #707070;
      margin: 0;
    }
  }

  .review_list {
    .review {
      margin: 40px auto;
      width: 900px;
      color: #707070;

      img {
        width: 373px;
        height: 241px;
      }
      .review_paragraph {
        border-radius: 13px;
        width: 500px;
        height: 241px;
        float: right;
        background-color: #f3f6f7;
        padding: 15px;
        box-sizing: border-box;

        .review_header {
          margin: 4px 0 4px 0;
          font-size: 21px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        p {
          border-bottom: 1px solid #707070;
          padding-bottom: 5px;
          overflow: hidden;
          text-overflow: ellipsis;
          margin: 15px 0;
          display: -webkit-box;
          -webkit-line-clamp: 5;
          -webkit-box-orient: vertical;
          font-size: 1rem;
          line-height: 1.5rem;
        }
        span {
          margin: 10px 0 10px 0;
        }
      }
    }
  }
}

.review_list_sort {
  margin: 20px auto;
  width: 900px;

  #category {
    width: 180px;
    padding: 10px;
    border-radius: 0.4rem;
  }
}

.review_pagination {
  width: 900px;
  margin: 25px auto;
  text-align: center;
  ul {
    list-style: none;
    display: inline-flex;

    li {
      cursor: pointer;
      margin: 10px;
    }

    & .current {
      text-decoration: underline;
    }
  }
}
