.slick-slider {
  height: 380px;
  .slick-track {
    height: 380px;
  }
  .slick-dots {
    bottom: 20px;
  }
}

// .slick-slide {
//   margin: 0 3px 0 3px;
// }

.review_contents {
  width: 409px;
  height: 250px;
  border: 1px solid #d8d8d8;
  box-shadow: 3px 15px 14px 5px #f3f3f3;
  background-color: white;
  margin-top: 15px;
  padding: 14px;
}

.review_contents h3 {
  padding: 14px;
  border-bottom: 1px solid #d8d8d8;
  margin: 0;
  text-align: center;
}

.slick-slide.slick-center .review_contents {
  transform: scale(1.1);
}
