.background_image {
  background-image: url("../../image/main-slider-img1.png");
  background-repeat: no-repeat;
  background-size: 100% 591px;

  .background_image_dark {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 591px;
    position: absolute;
  }
}
