.slide-arrow {
  width: 65px;
  height: 100px;
  display: inline-block;
  background-color: hsla(0, 0%, 0%, 0.5);
  text-align: center;
  color: white;
  text-align: center;
  cursor: pointer;
}

.slide-arrow::after {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 40%;
  display: "block";
  content: "";
  border: solid #ffffff;
  border-width: 0 3px 3px 0;
}

#slide_prev_arrow {
  float: left;
}

#slide_next_arrow {
  float: right;
}
