.group_today_area {
  display: flex;
  justify-content: center;
  padding: 20px;

  .calender_area {
    border-top: 1px solid #686869;
    margin: 0 40px;
    .calender_header {
      font-size: 1.17em;
      display: block;
      margin: 1em 0;
    }

    .calender {
      text-align: center;
      border-collapse: collapse;
      thead {
        border-bottom: 0.2px solid #535453;
        tr {
          th {
            padding: 15px 30px;
          }
        }
      }
      tbody {
        tr {
          td:nth-child(1),
          td:nth-child(7) {
            background-color: #f3f3f3;
          }
          .today {
            color: #84cde5;
          }
          .special {
            color: #f6d55c;
            position: relative;
          }
          .special:hover {
            font-weight: bold;
            text-decoration: underline;
            cursor: pointer;
            &:after {
              content: "<스마트시티 시흥 리빙랩> 온라인 MEET-UP 2020";
              color: #535453;
              border: 2px solid #f6d55c;
              background-color: white;
              width: 167px;
              height: 80px;
              text-align: center;
              display: flex;
              justify-content: center;
              justify-items: center;
              flex-direction: column;
              position: absolute;
              top: -125px;
              left: -67px;
              padding: 20px;
              font-size: 0.79rem;
            }
          }
        }
        .calender-day {
          width: 78px;
          height: 51.6px;
        }
      }
    }
  }

  iframe{
    margin: 0 40px;
  }
}
