html {
  height: 100%;
  -webkit-overflow-scrolling: touch;
  background-color: white;

  body {
    font-family: "noto-regular", "Malgun Gothic", "맑은 고딕",
      "Apple SD Gothic Neo", "돋움", "dotum", sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
    overflow-x: hidden;

    .molab_wrapper {
      min-width: 1200px;
      width: 100%;
      height: 100%;
      line-height: 1.5;
    }

    main {
      border-top: 1px solid #d8d8d8;
    }
  }
}
